<body>
    <p>Hi {{userFullName}}</p>
    <p>
        Tell us how your ride with <strong>{{providerFullName}}</strong> went.
        <a href="http://localhost:5173/ride/{{rideUuid}}/rating">Leave a rating here.</a>
    </p>
</body>